.display {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 3rem;
    margin: 4rem;
}

/* @media all and(min-width:600px) {
    .display {
        display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 3rem;
    margin: 6rem;
    }
} */